.Row{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #aaaaaa;
}

.Name:first-letter {
  text-transform: capitalize;
}

.Input{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 2rem;
}