.ContentContainer {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ContentItem {
  height: 200;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.UsersTable{
  width: 100%;
}

.Header{
  font-weight: bold;
  color: #29333C;
  margin: 3rem;
}